{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-clean-order"
  ],
  "rules": {
    "declaration-property-value-no-unknown": true,
    "custom-property-pattern": ".*",
    "selector-class-pattern": "^.*$",
    "declaration-block-no-redundant-longhand-properties": [
      true,
      {
        "ignoreShorthands": [
          "/grid/"
        ]
      }
    ]
  }
}
